{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "simple-import-sort",
    "cypress"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended",
    "plugin:import/typescript",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:cypress/recommended"
  ],
  "globals": {
    "cy": true,
    "Cypress": true
  },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-namespace": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/array-type": [
      "warn",
      {
        "default": "generic"
      }
    ],
    "@typescript-eslint/no-explicit-any": "off",
    "react/prop-types": "off",
    "import/prefer-default-export": "off",
    "no-undef": "off",
    "no-unused-expressions": [
      "warn",
      {
        "allowShortCircuit": true,
        "allowTernary": true
      }
    ],
    "simple-import-sort/sort": "error",
    "sort-imports": "off",
    "import/order": "off",
    "no-useless-constructor": "off",
    "@typescript-eslint/no-useless-constructor": "off",
    "prefer-arrow-callback": "error"
  }
}